/manual/manual.texi
/manual/Makefile
/manual/manual

/setup/output
/setup/*.resp

# Visual studio output and cruft
/msvc/Release
/msvc/Debug
/msvc/sensor_hub.VC.VC.opendb
/msvc/sensor_hub.VC.db
/msvc/.vs/sensor_hub/v15/Browse.VC.db
/msvc/.vs/sensor_hub/v15/ipch/
/msvc/.vs/sensor_hub/v15/Browse.VC.opendb
/msvc/sensor_hub.vcxproj.user
/msvc/version.aps
/msvc/gitrev.txt
/msvc/version.rc

# I use this as local build directory
/build
