# Linux/cygwin only files
*.sh text eol=lf
Makefile.in text eol=lf

# Windows only files
*.bat text eol=crlf
*.sln text eol=crlf
winservice.cpp eol=crlf

# Linux/windows shared text files
*.cpp text eol=auto
*.cc text eol=auto
*.h text eol=auto
*.md text eol=auto
*.ini text eol=auto
*.txt text eol=auto

# Github linguist hints
doc/* linguist-documentation
manual/* linguist-documentation
info/* linguist-documentation
3rdparty/* linguist-vendored
