[submodule "depends/fmt"]
	path = depends/fmt
	url = https://github.com/orca-software/fmt.git
[submodule "depends/modbus"]
	path = depends/modbus
	url = https://github.com/orca-software/modbus.git
[submodule "depends/rapidjson"]
	path = depends/rapidjson
	url = https://github.com/orca-software/rapidjson
[submodule "depends/cgal"]
	path = depends/cgal
	url = https://github.com/CGAL/cgal.git
