#include <winresrc.h>
1 VERSIONINFO
FILEVERSION 0, 1, 0, 0
PRODUCTVERSION 0, 1, 0, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
BLOCK "StringFileInfo"
{
BLOCK "040904E4"
{
VALUE "CompanyName", "Damen Shipyards"
VALUE "FileVersion", "0.1.0.0"
VALUE "FileDescription", "Sensor logging service"
VALUE "InternalName", "SensorHub"
VALUE "LegalCopyright", "© 2018-2018 Damen Shipyards"
VALUE "OriginalFilename", "sensor_hub.exe"
VALUE "Comments", "Log and redistribute sensor data"
VALUE "ProductName", "Sensor Hub"
VALUE "ProductVersion", "0.1.0.0"
}
}
BLOCK "VarFileInfo"
{
VALUE "Translation", 1033, 1252
}
END
