# Automount sensor_hub USB stick
ACTION=="add", ENV{ID_FS_LABEL}=="sensor_hub", SYMLINK+="sensor_hub/log", RUN{program}+="/usr/bin/systemd-mount --no-block --automount=yes $devnode /media/sensor_hub"

# Set group "plugdev" for USB Devices
# XSens
SUBSYSTEM=="usb", ATTRS{idVendor}=="2639", ACTION=="add", GROUP="plugdev", MODE="0660"
# Ublox
SUBSYSTEM=="usb", ATTRS{idVendor}=="1546", ACTION=="add", GROUP="plugdev", MODE="0660"

# Create symlink in /dev/sensor_hub for serial devices
# Start by skipping anything that is not an addition of a serial device
ACTION=="remove", GOTO="serial_end"
SUBSYSTEM!="tty", GOTO="serial_end"
KERNEL!="ttyUSB[0-9]*|ttyACM[0-9]*", GOTO="serial_end"

# XSens MTi serial to USB (ftdi)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2639", ATTRS{idProduct}=="0300", SYMLINK+="sensor_hub/xsens_mti_usb_serial-$kernel"
# FTDI MTi serial to USB (FT243XD)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", SYMLINK+="sensor_hub/ftdi_mti_usb_serial-$kernel"

# UBlox NEO M8U
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a8", SYMLINK+="sensor_hub/ublox_neo_m8u-$kernel"

LABEL="serial_end"
