# Set group "plugdev" for USB Devices
# XSens
SUBSYSTEM=="usb", ATTRS{idVendor}=="2639", ACTION=="add", GROUP="plugdev", MODE="0660"

# Create symlink in /dev/sensor_hub for serial devices
ACTION=="remove", GOTO="serial_end"
SUBSYSTEM!="tty", GOTO="serial_end"
KERNEL!="ttyUSB[0-9]*|ttyACM[0-9]*", GOTO="serial_end"
# UBlox NEO M8U
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a8", SYMLINK+="sensor_hub/ublox_neo_m8u-$kernel"

LABEL="serial_end"
