[Unit]
Description=Sensor Hub Daemon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
ExecStart=/usr/sbin/sensor_hub start
ExecStop=/usr/sbin/sensor_hub stop
PIDFile=/var/run/sensor_hub.pid
