<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include config.wxi ?>
  <Product Id="*" UpgradeCode="{a63fce4e-8bfa-11e8-8127-408d5cb38438}" Version="$(var.Version)" Language="1033" Name="Damen $(var.LongName)" Manufacturer="Damen Shipyards Gorinchem">
    <Package InstallerVersion="301" Compressed="yes" Description="Sensor data collection, processing and redistribution" />
    <MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="yes" IgnoreRemoveFailure="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Uninstall it first if you want to use this version. Setup will now exit." />
    <Condition Message="This application is only supported on Windows 7, or higher."><![CDATA[Installed OR (VersionNT >= 600)]]></Condition>
    <Condition Message="This application is only supported on 64 bit Windows."><![CDATA[Installed OR VersionNT64]]></Condition>
    <Media Id="1" Cabinet="$(var.ShortName).cab" EmbedCab="yes" />
    <Icon Id="ProductIcon" SourceFile="..\img\$(var.ShortName).ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
    <Property Id="ARPHELPLINK" Value="http://svn.damen.local"/>
    <Property Id="ARPURLINFOABOUT" Value="http://svn.damen.local"/>
    <Property Id="ARPNOMODIFY" Value="yes" />
	<Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" Secure="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="DamenShipyardsFolder" Name="Damen Shipyards">
          <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.LongName)" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDamenShipyards" Name="Damen Shipyards">
          <Directory Id="ProgramMenu$(var.ShortName)" Name="$(var.LongName)" />		 
        </Directory>
      </Directory>
    </Directory>
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="$(var.ShortName).exe" Guid="{0db1be5c-8bfb-11e8-9516-408d5cb38438}">
        <File Id="$(var.ShortName).exe" Source="..\msvc\Release\$(var.ShortName).exe" KeyPath="yes" Checksum="yes" />
      </Component>	  
      <Component Id="Documents" Guid="{20ef5452-8bfb-11e8-89d3-408d5cb38438}">
        <File Id="CHANGELOG" Source="..\CHANGELOG.md" KeyPath="yes" />
        <File Id="um.pdf" Source="..\manual\manual\$(var.ShortName).pdf" />
        <File Id="um.chm" Source="..\manual\manual\$(var.ShortName).chm" />
      </Component>
	  <Component Id="Libraries" Guid="{5cdd4138-b5d4-11e8-85c2-077f20dccfae}">
	    <File Id="libusb.dll" Source="..\3rdparty\libusb\lib\libusb-1.0.dll" />
	  </Component>
	  <Merge Id="VCRuntime" SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.15.26706\MergeModules\Microsoft_VC141_CRT_x64.msm"  DiskId="1" Language="1033"/>
    </DirectoryRef>
    <DirectoryRef Id="ProgramMenu$(var.ShortName)">
      <Component Id="ApplicationShortcuts" Guid="{2aa381b2-8bfb-11e8-9551-408d5cb38438}">
        <Shortcut Id="UserManualShortcut" Name="User Manual" Description="$(var.LongName) User Manual" Target="[APPLICATIONROOTDIRECTORY]\um-$(var.ShortName).pdf" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <Shortcut Id="ReleaseNotesShortcut" Name="Release Notes" Description="$(var.LongName) Release Notes" Target="[APPLICATIONROOTDIRECTORY]\rn-$(var.ShortName).pdf" WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <util:InternetShortcut Id="ReportIssueShortcut" Name="Report Issue" Target="http://svn.damen.local/wiki/IssueReporting" />
        <RegistryValue Root="HKCU" Key="Software\Damen\$(var.ShortName)" Name="msi_installed" Type="integer" Value="1" KeyPath="yes" />
		<RemoveFolder Id="ProgramMenu$(var.ShortName)" On="uninstall" />
		<RemoveFolder Id="RemoveProgramMenuDamenShipyards" Directory="ProgramMenuDamenShipyards" On="uninstall" />
      </Component>
    </DirectoryRef> 
    <Feature Id="MainApplication" Title="Damen $(var.LongName)" Level="1">
      <ComponentRef Id="$(var.ShortName).exe" />
	  <ComponentRef Id="ApplicationShortcuts" />
	  <ComponentRef Id="Documents" />
	  <ComponentRef Id="Libraries" />
	  <MergeRef Id="VCRuntime" />
    </Feature>
    <!-- (Un)Install the windows service -->
    <SetProperty Id="InstallService" Value='"[APPLICATIONROOTDIRECTORY]\$(var.ShortName).exe" install' After="CostFinalize" />
	<SetProperty Id="UnInstallService" Value='"[APPLICATIONROOTDIRECTORY]\$(var.ShortName).exe" uninstall' After="CostFinalize" />
    <CustomAction Id="InstallService" BinaryKey="WixCA" DllEntry="CAQuietExec64" Impersonate="no" Execute="deferred" Return="check" />
	<CustomAction Id="UnInstallService" BinaryKey="WixCA" DllEntry="CAQuietExec64" Impersonate="no" Execute="deferred" Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="InstallService" Before="InstallFinalize">NOT Installed</Custom>
	  <Custom Action="UnInstallService" After="InstallInitialize">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
